APP_NAME="Meta Content Scheduler"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_TIMEZONE=Asia/Jakarta
APP_URL=https://autopost.damaijaya.my.id

APP_LOCALE=id
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=id_ID

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=info

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=sosmedauto
DB_USERNAME=sosmeduser
DB_PASSWORD=your_strong_password_here

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=public
QUEUE_CONNECTION=database

CACHE_STORE=database

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log

META_GRAPH_VERSION=v22.0
META_APP_ID=
META_APP_SECRET=

SSO_BASE_URL=https://app.damaijaya.my.id
SSO_CLIENT_ID=cfb4042b-811d-4dfd-8aa3-d8ec18ee5970
SSO_CLIENT_SECRET=sk_2cce5f30a53e1030676a6374d39ecc8d
SSO_REDIRECT_URI=https://autopost.damaijaya.my.id/auth/sso/callback
